@font-face {
	font-family: 'ElegantIcons';
	src:url('fonts/ElegantIcons.eot');
	src:url('fonts/ElegantIconsd41d.eot?#iefix') format('embedded-opentype'),
		url('fonts/ElegantIcons.woff') format('woff'),
		url('fonts/ElegantIcons.ttf') format('truetype'),
		url('fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="your-class-prefix"] {
*/
 .arrow_right, .icon_search, .icon_chat_alt, .icon_quotations, .icon_clock_alt, .icon_mail_alt, .icon_pin_alt, .icon_calendar, .icon_heart_alt, .icon_chat, .icon_cart, .icon_pin, .icon_heart, .icon_phone, .icon_download, .social_share {
	font-family: 'ElegantIcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.arrow_right:before {
	content: "\24";
}
.icon_search:before {
	content: "\55";
}
.icon_chat_alt:before {
	content: "\77";
}
.icon_quotations:before {
	content: "\7b";
}
.icon_clock_alt:before {
	content: "\7d";
}
.icon_mail_alt:before {
	content: "\e010";
}
.icon_pin_alt:before {
	content: "\e01d";
}
.icon_calendar:before {
	content: "\e023";
}
.icon_heart_alt:before {
	content: "\e030";
}
.icon_chat:before {
	content: "\e066";
}
.icon_cart:before {
	content: "\e07a";
}
.icon_pin:before {
	content: "\e081";
}
.icon_heart:before {
	content: "\e089";
}
.icon_phone:before {
	content: "\e090";
}
.icon_download:before {
	content: "\e092";
}
.social_share:before {
	content: "\e0a0";
}

	
